<!-- http://v4-alpha.getbootstrap.com/ -->
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" 
		integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">		

	</head>
	<body><center>		
		<div class = "jumbotron">
			<div class = "container">
				<h1>Search all kinds of stuff<br>Not as cool as google</h1><br>
				
				<a href="{{ url_for('about') }}"> About Page </a>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<h3><b>Weather</b></h3>
					{% if weather %}
					<h2>{{ weather}}!</h2>
					<a href="{{ url_for('index target = _bottom') }}"> Look-up another </a>
				{% else %} 
					<h2>enter a location and I'll retrieve the weather</h2>
					<form action="/" class = "form-inline">
						<div class="form-group">
							<input type = "text" name="weather" placeholder="Enter your location here" class="form-control">
							<input type = "submit" value="Submit" class="btn btn-primary">
						</div>
					</form>
				{% endif %}
				</div>
				<div class="col-sm-4">
					<h3>Yelp Search</h3>
					<form>
						<input type = "text" name="topic" placeholder="Enter your search topic here" class="form-control">
						<input type = "text" name="location" placeholder="Enter your search location here" class="form-control">
						<input type="submit" value="Yelp Search" class="btn btn-primary">
					</form>
				</div>
				<div class="col-sm-4">
					<h3><b>Get Stocks</b></h3>
					<form>
						<input type = "text" name="topic" placeholder="Enter your search topic here" class="form-control">
						<input type = "text" name="location" placeholder="Enter your search location here" class="form-control">
						<input type="submit" value="Yelp Search" class="btn btn-primary">
					</form>
				</div>
			</div>
		</div>
		<div class = "bottom">
			<div class = "container">
				
			</div>
		</div>
	</body>
</html>