<!DOCTYPE html>


<!-- http://v4-alpha.getbootstrap.com/ -->

<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" 
		integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">	
		<style>a:link {text-decoration:none; color:Navy; size:18px; font-weight:bold}
       a:visited {text-decoration:none; color:Chartreuse; size:18px; font-weight:bold}
       a:hover {text-decoration:underline; color:Salmon; font-weight:bold }</style>
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  
  <script>
  $(document).ready(function() {
    $("#datepicker").datepicker();
  });
  </script>
  <script>
  $(document).ready(function() {
    $(".datepicker").datepicker();
  });
  </script>
		<title>Robert Quinn's Python project</title>
	</head>
	<body background='http://www.geocities.ws/nhbludog/rextree.jpg'><center>		
		<div bgcolor = 'GoldenRod  '>			
			<div class = "container">
				<h1><b>Search all kinds of stuff<br>We'll find it and tree it for you</b></h1><br>
				<p align=left><img src='http://www.geocities.ws/nhbludog/an_usa_flag_lg.gif'></p>

				<img src="http://www.geocities.ws/nhbludog/Joe.gif" />
				
			</div>
		</div>	
		</center><hr color='magenta'>
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<font color = "GoldenRod  "><h3><b><u><font color="Navy">Weather</font></u></b></h3>
					{% if weather %}
						<h3<font color = "Ivory"{{ weather }}!</font></h3>
						<a href="{{ url_for('index') }}"> Look-up another </a>
					
					{% else %} 
						<h3>Enter a location and I'll retrieve the weather</h3><br> <!-- Trying to line shit up -->
						<form action="/" class = "form-inline">
							<div class="form-group">
								<input type = "text" name="weather" placeholder="Enter your location here" class="form-control" required><br><br>
								<input type = "submit" value="Get Weather" class="btn btn-primary">
							</div>
						</form>
					{% endif %}
					
				</div>
			
				<div class="col-sm-4">
					<font color = "GoldenRod  "><h3><b><u><font color="Navy">Yelp Search</font></u></b></h3>
					{% if searchresult %}						
						<font color='Ivory'>
						<ol>
						{% for business in searchresult %}
							<li>&emsp;&emsp;<img src= {{ business.image }} /><br> Name:<b> 
							<a href ={{ business.site }} target = _window> {{ business.name }}</a></b><br>Rating: {{ business.rating }} &emsp;&emsp; <img src= {{ business.stars }} />
							<br>Address: {{ business.address }}
							<br>City: {{ business.city }}
							<br>Phone: {{ business.phone }}								
							</li>
							<hr color='green'>
						{% endfor %}
						</ol>
						</font>
						
						<a href= {{ url_for('index') }} > Look-up another </a>
					{% else %} 
						<h3>Enter a search term and city, and I'll yelp search it</h3><br>
						<form>
							<div class="form-group">
								<input type = "text" name="topic" placeholder="Enter your search topic here" class="form-control" required>
								<input type = "text" name="city" placeholder="Enter your search location here" class="form-control" required>
								<input type="submit" value="Yelp Search" class="btn btn-primary">
							</div>
						</form>
					{% endif %}					
				</div>
				<div class="col-sm-4">
					<font color = "GoldenRod  "><h3><b><u><font color="Navy">Amazon Search</b></font></u></h3>
					{% if yoursearch %}						
						<font color='Ivory'>
						<ol>
						{% for item in yoursearch %}
							<li>Name: 
							<a href = {{ item.link }} target= _window>{{ item.name }}</a>,<br>{{ item.price }}<br>
							<img src = {{ item.image }} />
							</li>
							<hr color='green'>
						{% endfor %}
						</ol>
						</font>
						
						<a href="{{ url_for('index') }}"> Look-up another </a>
					{% else %} 
						<h3>Lets try to find something on Amazon</h3><br>
						<form>
							<input type = "text" name="amazontopic" placeholder="Enter your search topic here" class="form-control" required>
							<br>
							<input type="submit" value="Amazon Search" class="btn btn-primary">
						</form>
					{% endif %}
				</font>
				</div>
</div>
<div class="row">				
				<div class="col-sm-4">
					<p aligh="center"><font color = "GoldenRod  "><u><font color="Navy"><h3><b>Tip calculator</b></h3></font></u></p>					
					{% if gottip %}	
						<font color = 'Ivory'>
						Your bill is ${{ gottip[0].bill_amount }} <br>
						<ul>
							<li>
								{{ gottip[0].percent }} tip should be: ${{ gottip[0].tip_amount }}
								<br>Total: ${{ gottip[0].total }}
							</li>
							<li>
								{{ gottip[1].percent }} tip should be: ${{ gottip[1].tip_amount }}
								<br>Total: ${{ gottip[1].total }}
							</li>
							<li>
								{{ gottip[2].percent }} tip should be: ${{ gottip[2].tip_amount }}
								<br>Total: ${{ gottip[2].total }}
							</li>
						</ul>
						</font>
						<a href="{{ url_for('index') }}"> Try a different amount </a>
					{% else %} 
						<h3>Please provide amount of the bill to get suggested tip amounts</h3><br><br>
						<form>							
							<!-- Way cool HTML5 input -->
							<input type="number" step="0.01" name="amount" placeholder="Enter the bill price here (numbers only)" class="form-control">
							<input type="submit" value="What to tip" class="btn btn-primary">
						</form>					
					{% endif %}					
				</div>
				<div class="col-sm-4">
					<p aligh="center"><u><font color="Navy"><h3><b>Get Stocks</b></h3></font></u></p>
					{% if stocks %}
						<!--<h3>-->
						<font color='Ivory'>
						<ol>
						{% for business in searchresult %}
							<li>{{ business.image_url }} <br>>Name: 
							{{ business.name }},<br>Rating: {{ business.rating }}<br>Phone: {{ business.image_url }}
							
							</li>
							<hr color='green'>
						{% endfor %}
						</ol>
						</font>
						<!--</h3>-->
						<a href="{{ url_for('index') }}"> Look-up another </a>
					{% else %} 
						<h4>Enter a stock Code and we'll look it up</h4><br><br><br>
					<form>
						From  : <input class="datepicker" name="startdate"/><br>	
						To:&emsp;&emsp;<input id="datepicker" name="enddate"/>
						<input type = "text" name="stock" placeholder="Enter stock here" class="form-control">						
						<input type="submit" value="Stock Quotes" class="btn btn-primary">
					</form>
					{% endif %}
				</div>
				<div class="col-sm-4">
					<p aligh="center"><u><font color="Navy"><h3><b>Ice Cream</b></h3></font></u></p>
					{% if icecream %}
						
						<font color='Ivory'>
							<h3>{{ icecream}}</h3>
						</font>
						<br><center>
						<a href="{{ url_for('index') }}">  </a>
						<form>
						<input type="hidden" name="icecream" value="icecream"><br><br>						
						<center><input type="submit" value="Make another sundae" class="btn btn-primary"></center>
					</form>
						</center>
					{% else %} 
						<h3>I can randomly design a sundae</h3><br><br>
					<form>
						<input type="hidden" name="icecream" value="icecream"><br><br>						
						<center><input type="submit" value="Make a sundae" class="btn btn-primary"></center>
					</form>
					{% endif %}
				</div>
				
</div>
		<hr color = 'green'>
		<div class = "jumbotron">
			<center>
			<div class = "container">
				<font color='Salmon'><a class='Fred' href="{{ url_for('about') }}"> About </a></font><br>Page Hits: ..
			
				<a href="http://www.reliablecounter.com" target="_blank">
				<img src="http://www.reliablecounter.com/count.php?page=https://bullkyker-project.herokuapp.com/&digit=style/plain/17/&reloads=0" 
				alt="" title="" border="0"></a>
				<br /><a href="http://www.fabbly.com" target="_blank" style="font-family: Geneva, Arial; font-size: 9px; color: #330010; text-decoration: none;">3d Printer Files</a>
			</div>
			</center>
		</div>
	</body>
</html>